* {
  font-family: "Helvetica Neue", sans-serif;
}

body {
  background-image: url("img.JPG");
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}

.center {
  padding-top: 75% 0;
  padding-bottom: 0;
  text-align: center;
  margin: auto;
}

.botcenter {
  text-align: center;
}

h1 {
  font-size: 20vh;
}
h2 {
  font-size: 5vh;
}
